
#restTable {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border-collapse: collapse;
    border-style: hidden;
    border-radius: 6px;
    box-shadow: 5px 5px gray;
}

table {
    border-radius: 5px;
}

    #restTable td {

        border: 1px solid black;
        text-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    #restTable tr {

        text-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
    }

#restTable th {
    border: 1px solid black;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #6495ED;
    color: black;
    text-align: center;
}

    #restTable tr:nth-child(even) {
        background-color: #f2f2f2;
    }
#restTable tr:nth-child(odd) {
    background-color: #E6E6FA;
}
#restTable tr:hover {
    background-color: #A9A9A9;
}

/* top-left border-radius */
table tr:first-child th:first-child {
    border-top-left-radius: 6px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
    border-top-right-radius: 6px;
}


#pagination {
    margin-left: auto;
    margin-right: auto;
}