
#restTable {
    font-family: Cambria, Georgia, serif;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border-collapse: collapse;
    border-style: hidden;
    border-radius: 6px;
    box-shadow: 5px 5px #D3D3D3;
    margin-left: auto;
    margin-right: auto;
    width:100%;
}

table {
    border-radius: 5px;
}

    #restTable td {

        padding-top: 12px;
        padding-bottom: 12px;
    }

    #restTable tr {

 
        padding-top: 12px;
        padding-bottom: 12px;
    }

#restTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #4d4d4d;
    color: white;
}

#restTable tr:nth-child(even) {
    background-color: #F8F8FF;
}
#restTable tr:nth-child(odd) {
    background-color: #d9d9d9;
}
#restTable tr:hover {
    background-color: #A9A9A9;
}

/* top-left border-radius */
table tr:first-child th:first-child {
    border-top-left-radius: 6px;
}

/* top-right border-radius */
table tr:first-child th:last-child {
    border-top-right-radius: 6px;
}


#pagination {
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px 10px 20px;
}

.searchstatus{
    text-align:center;
}

.paginationbutton {
    border-radius: 3px;
    background-color: #5F9EA0;
   

}